html,body{height:100%;}
body{box-sizing:border-box;}
*, *:after, *:before{box-sizing:inherit;}

*{margin:0; padding:0;}

.whyContain{padding:0;}
.whyContain:after,
.whyContain:before{content:"";display:table;clear:both;}



.whyClick:HOVER{
	color:gold;
}
.whyClick:ACTIVE{
	color:red;
	background-color: white;
}

/*
*{border:1px dotted red;}
*/


/* main */
.listBox{
	width:1204px;
	height:500px;
	background:black;
	color:white;
	margin: 0 auto;
}
.listLine{
	text-align:center;
	width:100%;
	height:50px;
	line-height:50px;
}
.listNo,
.listTitle,
.listId,
.listSearchCnt{
	display:inline-block;
	float:left;
	height:100%;
}
.listNo,
.listSearchCnt{
	width:50px;
}
.listTitle{
	width:1000px;
}
.listId{
	width:100px;
}

.listCommandContain{
	text-align:center;
	height:40px;
	width:100%;
	padding:5px 30px;
}

.listCommand{
	display:inline-block;
	height:100%;
}

.listMoveleft,
.listMoveno,
.listMoveright{
	display:inline-block;
	float:left;
	width:30px;
	height:100%;
}
.listSearchText,
.listSearch,
.listWrite{
	display:inline-block;
	float:right;
	text-align:center;
	font-weight:bold;
	width:70px;
	height:100%;
}
.listSearchText{
	width:300px;
	font-weight:normal;
	text-align:left;
}


/* write */








